<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>one.Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertproduct1</servlet-name>
        <servlet-class>Admin.Insertproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editproduct</servlet-name>
        <servlet-class>Admin.Editproduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/Check</url-pattern>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertproduct1</servlet-name>
        <url-pattern>/Insertproduct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editproduct</servlet-name>
        <url-pattern>/Editproduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
